.section-service {
    margin-top: 40px;
}

.wrapper-service {
    display: flex;
}

.service-description {
    width: 70%;
    text-align: right;
}

.service-title {
    color: #899ea7;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
    letter-spacing: 3.64px;
}

.service-main-title {
    /* Style for "It is our" */
    color: #010927;
    font-family: "Segoe UI";
    font-size: 60px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -2.4px;
    padding: 30px 0;
}

p.service-describe {
    /* Style for "Nam liber" */
    color: #2f2f2f;
    font-family: "Work Sans";
    text-transform: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

@media(min-width: 320px) and (orientation: portrait) {
    .wrapper-service {
        display: flex;
        flex-direction: column-reverse;
    }

    .service-description {
        width: 100%;
    }

    .service-main-title {
        font-size: 40px;
    }
}

@media(min-width: 1024px) and (orientation: portrait) {
    .service-main-title {
        font-size: 60px;
        padding: 50px 0;
    }

    p.service-describe {
        font-size: 40px;
        line-height: 70px;
    }

    .do-btn {
        width: 260px;
    }
}

@media(min-width: 568px) and (orientation: landscape) {
    .wrapper-service {
        flex-direction: column-reverse;
    }

    .service-description {
        width: 100%;
    }

    .service-main-title {
        font-size: 35px;
    }

    .service-image {
        width: 70%;
        margin: 0 auto;
    }
}

@media(min-width: 1024px) and (orientation: landscape) {
    .wrapper-service {
        flex-direction: row;
    }

    .service-description {
        width: 100%;
    }

    .service-main-title {
        font-size: 35px;
    }

    .service-image {
        width: 75%;
        margin: 0 auto;
    }
}