.container-featured {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.featured-title {
  text-align: center;
  padding: 30px 0;
}

.featured-title span {
  color: rgb(236, 55, 22);
  font-weight: 700;
  letter-spacing: 2px;
}

.single-product {
  text-align: center;
  height: 30vh;
  width: 100%;
  margin: 0 20px;
}

.card,
.img-container {
  height: 100%;
  width: 100%;
}

.img-container {
  height: 100%;
  width: 100%;
}

.img-single {
  width: 100%;
  height: 100%;
}


@media (min-width: 320px) and (orientation: portrait) {
  .container-featured {
    flex-direction: column;
  }

  .single-product {
    height: 300px;
    margin: 25px 0;
    padding: 15px 0;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .container-featured {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .single-product {
    width: 45%;
    padding: 15px 0;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .home h4 {
    font-size: 26px;
    padding: 78px 0;
  }

  .featured-title {
    font-size: 35px;
  }

  .single-product {
    height: 350px;
  }
}

/* landscape reponsive */

@media (min-width: 320px) and (orientation: landscape) {
  .featured-products {
    height: 100%;
  }

  .container-featured {
    flex-wrap: wrap;
  }

  .single-product {
    height: 100%;
    margin: 40px 10px;
    width: 45%;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .featured-products {
    height: 80vh;
  }
}

@media (min-width: 812px) and (orientation: landscape) {
  .single-product {
    height: 320px;
    width: 40%;
  }

  .featured-products {
    height: 100%;
  }

  .container-featured {
    flex-wrap: wrap;
  }
}