.container-icon {
    height: 100%;
    width: 100%;
    position: relative;
}

.addToShop {
    position: absolute;
    color: black;
    font-weight: 700;
    padding: 5px;
    top: -8px;
    right: -15px;
}

.shop-icon {
    font-size: 18px;
}

.link-sidecart {
    text-decoration: none;
}

.overlay-title {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}

.overlay {
    height: 100vh;
    width: 0;
    overflow: auto;
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
}

.shopCart {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.shop-price {
    padding: 10px 0;
}

.shopImage {
    width: 120px;
    height: 80px;
}

.shop-title {
    padding: 20px 0;
    font-size: 14px;
}

.shop-button {
    font-family: 'Roboto';
    padding: 15px;
    font-size: 18px;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    border-radius: 30px;
    background-color: #38d5e2;
    transition: 0.3s all linear;
}

.shop-button:hover {
    color: white;
}