.container-icon {
    height: 100%;
    width: 100%;
    position: relative;
}

.addToShop {
    position: absolute;
    color: red;
    padding: 5px;
    top: -8px;
    right: -15px;
}

.shop-icon {
    font-size: 18px;
}

.overlay {
    overflow: hidden;
    position: absolute;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: white;
    right: 0;
    top: 0
}