* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 50px;
}

.home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.home p {
  font-size: 21px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 400;
}

.home h4 {
  margin-top: 150px;
  line-height: 48px;
  font-size: 22px;
  padding-right: 300px;
}

/* header */

header {
  height: 100px;
  align-items: center;
}

header .container,
.wrapper {
  height: 100%;
}

.wrapper-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 10;
}

.logo a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(29, 22, 22);
}

.menu button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: rgb(29, 22, 22);
}

/* menu haburger */

.menu-hamburger {
  display: none;
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100;
}

.menu-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.menu-layer {
  position: relative;
  overflow: hidden;
  background-color: rgb(207, 111, 32);
  height: 100%;
}

.city-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveImage 5s infinite;
}

@keyframes moveImage {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 30% 10%;
  }

  50% {
    background-position: 24% 15%;
  }

  75% {
    background-position: 15% 22%;
  }

  100% {
    background-position: 60% 0%;
  }
}

.menu-layer .wrapper {
  position: relative;
}

.wrapper .menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 300px;
}

.menu-links ul {
  margin: 0;
  padding: 0;
}

.menu-links ul li {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 140px;
  width: 600px;
  list-style: none;
  font-size: 50px;
  font-weight: 700;
}

.menu-links ul li a {
  position: absolute;
  color: white;
  text-decoration: none;
}

.menu-links ul li a:hover {
  color: black;
}

.message {
  color: white;
  width: 350px;
}

.message h4 {
  font-size: 25px;
  padding: 20px 0;
}

.message p {
  text-align: justify;
  font-size: 18px;
}

.menu-links .location {
  position: absolute;
  color: white;
  font-weight: 600;
  bottom: -60px;
  font-size: 22px;
}

.location span:first-child {
  margin-left: 60px;
}

.location span:hover {
  background-color: black;
  border-radius: 3px;
  padding: 5px 20px;
}

.location span {
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px;
  transition: 0.4s ease-in;
}

@media(min-width: 320px) and (orientation: portrait) {
  .wrapper {
    padding: 0 25px;
  }

  .home h4 {
    font-size: 18px;
    margin-top: 30px;
    padding-right: 0;
    text-align: justify;
  }

  .wrapper .menu-links {
    display: flex;
    flex-direction: column;
    top: 70px;
    height: 100vh;
    width: 100%;

  }

  .menu-links nav {
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .menu-links nav ul {
    width: 100%;
    height: 100%;
  }

  .menu-links ul li {
    font-size: 38px;
    width: 100%;
    height: 68px;
  }

  .message {
    width: 100%;
  }
}


@media(min-width: 1366px) and (orientation: landscape) {
  .menu-layer .wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

}